@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
    font-family: 'Rotunda';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Rotunda-Regular.woff2') format('woff2'),
         url('/fonts/Rotunda-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rotunda';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/Rotunda-RegularItalic.woff2') format('woff2'),
         url('/fonts/Rotunda-RegularItalic.woff') format('woff');
  }
  
  /* Bold */
  @font-face {
    font-family: 'Rotunda';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Rotunda-Bold.woff2') format('woff2'),
         url('/fonts/Rotunda-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rotunda';
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/Rotunda-BoldItalic.woff2') format('woff2'),
         url('/fonts/Rotunda-BoldItalic.woff') format('woff');
  }
  
  /* ExtraBold */
  @font-face {
    font-family: 'Rotunda';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/Rotunda-ExtraBold.woff2') format('woff2'),
         url('/fonts/Rotunda-ExtraBold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rotunda';
    font-weight: 800;
    font-style: italic;
    src: url('/fonts/Rotunda-ExtraBoldItalic.woff2') format('woff2'),
         url('/fonts/Rotunda-ExtraBoldItalic.woff') format('woff');
  }
  
  /* Hairline */
  @font-face {
    font-family: 'Rotunda';
    font-weight: 100;
    font-style: normal;
    src: url('/fonts/Rotunda-Hairline.woff2') format('woff2'),
         url('/fonts/Rotunda-Hairline.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rotunda';
    font-weight: 100;
    font-style: italic;
    src: url('/fonts/Rotunda-HairlineItalic.woff2') format('woff2'),
         url('/fonts/Rotunda-HairlineItalic.woff') format('woff');
  }
  
  /* Light */
  @font-face {
    font-family: 'Rotunda';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Rotunda-Light.woff2') format('woff2'),
         url('/fonts/Rotunda-Light.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rotunda';
    font-weight: 300;
    font-style: italic;
    src: url('/fonts/Rotunda-LightItalic.woff2') format('woff2'),
         url('/fonts/Rotunda-LightItalic.woff') format('woff');
  }
  
  /* Medium */
  @font-face {
    font-family: 'Rotunda';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Rotunda-Medium.woff2') format('woff2'),
         url('/fonts/Rotunda-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rotunda';
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/Rotunda-MediumItalic.woff2') format('woff2'),
         url('/fonts/Rotunda-MediumItalic.woff') format('woff');
  }
  
  /* Thin */
  @font-face {
    font-family: 'Rotunda';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/Rotunda-Thin.woff2') format('woff2'),
         url('/fonts/Rotunda-Thin.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Rotunda';
    font-weight: 200;
    font-style: italic;
    src: url('/fonts/Rotunda-ThinItalic.woff2') format('woff2'),
         url('/fonts/Rotunda-ThinItalic.woff') format('woff');
  }
  


  .component::after {
    content: '';
    position: absolute;
    left: 8%;
    top: -9px; /* Adjust this to position the triangle above */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white; /* White triangle pointing upwards */
  }